In [1]:
nums = [2,4,6,8,10]

In [2]:
doubles = map(lambda x: x*2, nums)

In [4]:
doubles

In [5]:
list(doubles)

[4, 8, 12, 16, 20]

In [7]:
def decrement_list(numbs):
    return list(map(lambda x: x-1,numbs))

In [8]:
test = [1,2,3]
decrement_list(test)

[0, 1, 2]

In [9]:
names = ['austin','david','natalie','angel']
a_names = filter(lambda n: n[0] == 'a',names)
list(a_names)

['austin', 'angel']

In [10]:
names = ['Lassie','Colt', 'Rusty']
list(map(lambda name: f"Your instructor is {name}",
        filter(lambda value: len(value) < 5, names)))

['Your instructor is Colt']

In [12]:
names = ['Lassie','Colt', 'Rusty']
[f"Your instructor is {name}" for name in names if len(name) < 5]

['Your instructor is Colt']

In [13]:
def remove_negatives(nums):
    return list(filter(lambda value: value >= 0, nums))

In [14]:
all([0,1,2,3])

False

In [15]:
all([char for char in 'eio' if char in 'aeiou'])

True

In [16]:
all([num for num in [4,2,10,6,8] if num % 2 == 0])

True

In [18]:
any([0,1,2,3])

True

In [19]:
import sys
list_comp = sys.getsizeof([x * 10 for x in range(1000)])
gen_exp = sys.getsizeof(x * 10 for x in range(1000))

print("to do the same thing, it takes...")
print(f"List Comprehension: {list_comp} bytes")
print(f"Generator Expression: {gen_exp} bytes")

to do the same thing, it takes...
List Comprehension: 9024 bytes
Generator Expression: 88 bytes

In [20]:
# Implement your is_all_strings function below:
def is_all_strings(it):
    return all(type(l) == str for l in it)

In [21]:
more_numbers = [6,1,8,2]
sorted(more_numbers)

[1, 2, 6, 8]

In [22]:
more_numbers

[6, 1, 8, 2]

In [23]:
sorted(more_numbers,reverse = True)

[8, 6, 2, 1]

In [24]:
sorted(users,key=len)#see notes on sorted

NameError: name 'users' is not defined

In [25]:
max(3,67,99)

99

In [26]:
names = ['Arya','Samson','Dora','Tim']
min(names)

'Arya'

In [27]:
max(names)

'Tim'

In [28]:
min(len(name)for name in names)

3

In [29]:
max(names,key=lambda n:len(n))

'Samson'

In [31]:
songs = [
    {'title': 'Happy Birthday','playcount':1},
    {'title': 'I Will Survive','playcount':6},
    {'title': 'YMCA','playcount': 99}
]
min(songs, key = lambda s: s['playcount'])

{'title': 'Happy Birthday', 'playcount': 1}

In [32]:
# Define extremes below:
def extremes(l):
    return(min(l),max(l))

In [33]:
reversed([1,2,3,4])

In [34]:
list(reversed([1,2,3,4]))

[4, 3, 2, 1]

In [35]:
'hello'.__len__()

5

In [36]:
abs(-5)

5

In [38]:
import math
math.fabs(-20)

20.0

In [39]:
sum([1,2,3],10)

16

In [42]:
sequence = ['Bob',' ','and',' ','David']
''.join(sequence)

'Bob and David'

In [43]:
round(1.2233222234,2)

1.22

In [44]:
def max_magnitude(l):
    value = [abs(l) for l in l]
    return max(value)

In [46]:
def max_magnitude(nums):
    return max(abs(num) for num in nums)

In [47]:
'''
sum_even_values(1,2,3,4,5,6) # 12
sum_even_values(4,2,1,10) # 16
sum_even_values(1) # 0
'''

# define sum_even_values
def sum_even_values(*args):
    return sum(arg for arg in args if arg % 2 == 0)

In [48]:
'''
sum_floats(1.5, 2.4, 'awesome', [], 1) # 3.9
sum_floats(1,2,3,4,5) # 0
'''

def sum_floats(*args):
    return sum(arg for arg in args if type(arg) == float)

In [49]:
first_zip = zip([1,2,3],[4,5,6])

In [51]:
print(list(first_zip))

[(1, 4), (2, 5), (3, 6)]

In [53]:
print(dict(zip([1,2,3],[4,5,6])))

{1: 4, 2: 5, 3: 6}

In [54]:
five_by_two = [(0,1),(1,2),(2,3),(3,4),(4,5)]

list(zip(*five_by_two))

[(0, 1, 2, 3, 4), (1, 2, 3, 4, 5)]

In [60]:
midterms = [80,91,78]
finals = [98,89,53]
students = ['dave','natalie','greta']

# final_grades = [max(pair) for pair in zip(midterms,finals)]
final_grades = {t[0]:max(t[1],t[2]) for t in zip(students,midterms,finals)}

print(final_grades)

{'dave': 98, 'natalie': 91, 'greta': 78}

In [65]:
midterms = [80,91,78]
finals = [98,89,53]
students = ['dave','natalie','greta']

grades = zip(
    students,
    map(
    lambda pair: max(pair),
    zip(midterms,finals)
    )
)
print(dict(grades))

{'dave': 98, 'natalie': 91, 'greta': 78}

In [84]:
def interleave(str1,str2):
    return ''.join(''.join(x) for x in (zip(str1,str2)))
    #return zip(*str1,*str2)
interleave('hi','ha')

'hhia'

In [85]:
'''
triple_and_filter([1,2,3,4]) # [12]
triple_and_filter([6,8,10,12]) # [24,36]
'''

def triple_and_filter(l):
    return [num * 3 for num in list(filter(lambda x: x % 4 == 0,l))]

In [86]:
def triple_and_filter(lst):
    return list(filter(lambda x: x % 4 == 0, map(lambda x: x*3, lst)))

In [87]:
# map() function returns a list of the results after applying the given function to each item of a given iterable (list, tuple etc.)

# Syntax :

# map(fun, iter)

In [92]:
def extract_full_name(l):
    return list(map(lambda val: "{} {}".format(val['first'], val['last']), l))

names = [{'first': 'Elie', 'last': 'Schoppik'}, {'first': 'Colt', 'last': 'Steele'}]
extract_full_name(names) # ['Elie Schoppik', 'Colt Steele']

['Elie Schoppik', 'Colt Steele']